
img{
    width: 200px; /*Ancho de la imagen*/
    height: 200px; /*Alto de la imag*/
}

img:hover {
    background-color: hotpink;
}

input{
    border-radius: 5px ;
    border: 3px red ;
}

.tipoinputs{
    background-color: aqua;
}

#nombrepersona{
    height: 50px;
}

/*.para input # para id*/
